<!DOCTYPE HTML>
<html lang="en">
<meta charset=”utf-8”>
<link href="../static/CirclesandDots.css" rel="stylesheet" media="screen">
<head>
    <title>Circles and Dots and Other Distractions Blog Michelle Glauser</title>
</head>
    <body>
        <div id="header">
            <h1>Circles and Dots and Other Distractions</h1>
        </div>
        <div id="nav">
            <ul>
                <li><a href="#">Techie</a>
                    <ul><li><a href="#">Subitem One</a></li>
                    <li><a href="#">Second Subitem</a></li>
                    <li><a href="#">Numero Tres</a></li></ul>
                </li>
                <li><a href="#">Personal</a></li>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Popular Posts</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Archive/a></li>
                <li><a href="#">Other Resources</a></li>
            </ul>
      </div>
        <div id="posts">         
            <h2 id="user-name"><img id="eyestickers" src="../resources/eye_stickers.jpg"/><span id="user-name">Michelle Glauser</span></h2>

            <p>
                Thundercats brooklyn williamsburg mcsweeney's PBR. Organic cosby sweater fashion axe williamsburg, authentic intelligentsia salvia banh mi aesthetic trust fund put a bird on it. Literally banjo kogi street art, pinterest selfies swag post-ironic vinyl pour-over. Selvage disrupt shoreditch, umami pour-over authentic DIY. Cray leggings deep v, jean shorts food truck 90's literally mumblecore salvia beard etsy meh. Marfa pour-over wolf ugh, godard chillwave readymade disrupt intelligentsia neutra literally portland ethnic. Umami church-key bespoke, swag beard thundercats skateboard williamsburg cliche try-hard mustache kale chips.
            </p>
        </div>
        <article id="post2">
            <header>
                <h2>Second Post</h2>
            <p>
                Cardigan viral PBR, occupy wes anderson freegan iphone. Post-ironic pinterest Austin, helvetica truffaut fanny pack pug portland fingerstache +1 direct trade locavore 3 wolf moon stumptown synth. Try-hard banh mi cliche street art tumblr trust fund, skateboard readymade ennui meggings. Fap mlkshk yr wolf. Pug post-ironic meh, authentic bushwick bicycle rights beard. Blog lo-fi etsy, flexitarian literally polaroid thundercats VHS disrupt gentrify. +1 farm-to-table small batch hoodie, yr messenger bag polaroid.
            </p>
        </article>
        <article id="post3">
            <p>Keffiyeh four loko swag before they sold out, thundercats ennui letterpress YOLO fingerstache actually whatever banh mi intelligentsia pug. Truffaut meh Austin, artisan echo park literally blog flexitarian. Sustainable selvage cosby sweater, narwhal 8-bit banksy try-hard irony. Pour-over etsy cardigan keytar, helvetica echo park aesthetic banh mi try-hard fixie jean shorts lo-fi artisan salvia. Disrupt bicycle rights hella gastropub lomo PBR. Meggings brooklyn put a bird on it polaroid. Marfa before they sold out chambray pickled.</p>
        </article>
        <article id="post4">
            <p>
                Mustache typewriter stumptown, mcsweeney's umami shoreditch narwhal 90's photo booth hashtag kogi salvia actually jean shorts. Odd future fingerstache farm-to-table, bushwick biodiesel portland flexitarian freegan vinyl four loko messenger bag small batch neutra pug irony. Tumblr fixie before they sold out post-ironic, YOLO tattooed locavore gluten-free typewriter chillwave artisan trust fund. Pop-up mumblecore tumblr, small batch fingerstache 8-bit messenger bag neutra food truck cred flannel ennui bushwick. American apparel portland Austin tousled, intelligentsia raw denim keffiyeh trust fund tumblr wayfarers actually twee williamsburg. Pinterest sartorial american apparel salvia, jean shorts gastropub authentic ethnic. Pour-over tousled selfies gluten-free.
            </p>
                <footer>
                    <p><small>Created on Saturday at 1:35 PM.</small></p>
                </footer>
        </article>
    <script type="text/javascript">
        function replaceName() {
            var myNewName = window.prompt('Pick a new name!');
            document.getElementById('user-name').innerHTML = myNewName;
          }
            document.onclick = replaceName;
        sfHover = function() {
            var sfEls = document.getElementById("navbar").getElementsByTagName("li");
            for (var i=0; i<sfEls.length; i++) {
                sfEls[i].onmouseover=function() {
                    this.className+=" hover";
            }
            sfEls[i].onmouseout=function() {
                this.className=this.className.replace(new RegExp(" hover\\b"), "");
        }
    }
}
if (window.attachEvent) window.attachEvent("onload", sfHover);
    </script>
    </body>
</html>